<!-- New Listing Modal -->
<div class="modal fade" id="listingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new listing</h4>
      </div>
      <div class="modal-body form">
        <%= form_for @listing, url: admin_auction_listings_path(@auction) do |f| %>
          <% if @auction.tiers.present? %>
            <div class="form-group col-xs-8">
              <%= f.label :tier %>
              <%= f.collection_select(:tier, @auction.tiers.all, :id, :name, {}, {:class=>'form-control'}) %>
            </div>
          <% end %>
          <div class="form-group col-xs-8">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group col-xs-8">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
          <div class="form-group col-xs-8">
            <%= f.label :reserve_price %>
            <%= f.text_field :reserve_price, class: 'form-control medium' %>
          </div>
          <div class="form-group col-xs-8">
            <%= f.label :guaranteed_price %>
            <%= f.text_field :guaranteed_price, class: 'form-control medium' %>
          </div>
          <div class="form-group col-xs-8">
            <%= f.label :images %><br>
            <%= f.file_field :images, multiple: true %>
            <% if f.object.images? %>
              <%= image_tag f.object.images.thumb.url %>
              <%= f.label :remove_image %>
              <%= f.check_box :remove_image %>
            <% end %>
          </div>
          <% if @listing.errors.any? %>
            <div class="alert alert-danger margin-top-sm" role="alert">
              <ul>
                <% @listing.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
            <%= f.submit 'New Listing', class: "btn btn-primary" %>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

