<h1><%= @listing.title %></h1>

<div class="meta-data">
  <span>Auction: <%= link_to @listing.auction.name, admin_auction_path(@listing.auction_id) %></span>
  <span>Reserve Price: <%= @listing.reserve_price %></span>
  <span>Guaranteed Price: <%= @listing.guaranteed_price %></span>
</div>

<h2>Description</h2>

<p><%= @listing.description %></p>
<% if @listing.images.present? %>
  <% @listing.images.each do |i| %>
    <%= image_tag i.url(:full_listing_size) %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_admin_listing_path(@listing) %>
<%= link_to 'Delete',
  admin_listing_path(@listing),
  method: :delete,
  data: { confirm: 'There is no undo for this action' }
%>

<!-- Buttons trigger modals -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editListing">
  Edit Listing
</button>

<%= render 'admin/listings/edit_listing' %>