<h1><%= @auction.name %> </h1>
<p><%= @auction.description %></p>
<%= link_to 'Manage auction', admin_auction_path(@auction) %>


<hr />


<ul class="listing-catalogue">
  <% @auction.listings.each do |l| %>
    <li>
      <ul>
        <li><%= image_tag l.images[0].full_listing_size.url if l.images.present? %></li>
        <li><h3><%= link_to l.title, listing_path(l) %></h3></li>
        <li><p><%= l.description %></li>
        <li><p>Reserve Price: <%= l.reserve_price %></li>
        <% if l.guaranteed_price.present? %>
          <li><p>Current Price: <%= l.guaranteed_price  %></li>
        <% end %>
        <% if l.bids.present? %>
          <li><p>Current Bid: <%= l.max_amount if l.bids.present? %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>