<h1>Hi <%= @user.first_name %>.</h1>

<% if @user.auctions.count > 0 %>
  <h2>Your Auctions</h2>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Raised</th>
      <th></th>
    </tr>

    <% @auctions.each do |a| %>
    <tr class="auction-table-record">
      <td><%= link_to a.name, admin_auction_path(a) %></td>
      <td><%= a.aasm_state.titleize %></td>
      <td><%= number_to_currency(a.raised) %></td>
      <td class="text-center">
        <%= link_to icon('pencil'), edit_admin_auction_path(a) %>
        <%= link_to icon('trash'),
          admin_auction_path(a),
          method: :delete,
          data: { confirm: "Are you sure? There's no going back!" } %>
      </td>
    </tr>
    <% end %>

  </table>
  <hr />
  <h2>New auction</h2>
  <%= render 'admin/auctions/auction_form', btn_label: 'New Auction' %>
<% else %>
  <h2>Get started with your first auction</h2>
  <%= render 'admin/auctions/auction_form', btn_label: 'New Auction' %>
<% end %>