<h1>Edit <%= @auction.name %></h1>
<% if @auction.errors.any? %>
  <ul>
    <% @auction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @auction, url: admin_auction_path(@auction) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit 'Update auction', class: "btn btn-primary" %>
<% end %>