<h1><%= @auction.name %></h1>
<p><%= @auction.description %></p>
<%= link_to 'Edit', edit_admin_auction_path(@auction) %>
<%= link_to 'Delete',
  admin_auction_path(@auction),
  method: :delete,
  data: { confirm: "Are you sure? There's no going back!" }
%>

<hr />
<!-- Buttons trigger modals -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tierModal">
  Add Tier
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#listingModal">
  Add Listing
</button>

<%= render 'admin/tiers/tier_form', btn_label: 'New Tier' %>
<%= render 'admin/listings/listing_form', btn_label: 'New Listing' %>

<hr />
<%= render 'tiers_table' if @auction.tiers.present? %>
<%= render 'listings_table' if @auction.listings.present? %>
