<h1><%= @auction.name %></h1>

<div class="">
  <p><%= @auction.description %></p>

  <div class="auction-controls">
    <h3>Auction Status: <%= @auction.aasm_state.titleize %></h3>
    <ul>
      <li>
        <%= link_to 'View Auction', auction_path(@auction) %>
      </li>
      <li>
        <%= link_to 'Edit', edit_admin_auction_path(@auction) %>
      </li>
      <li>
        <%= link_to 'Delete',
          admin_auction_path(@auction),
          method: :delete,
          data: { confirm: "Are you sure? There's no going back!" }
        %>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#tierModal">Add Tier</a>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#listingModal">Add Listing</a>
      </li>
    </ul>
  </div>

  <div class="auction-content">
    <%= render 'admin/tiers/tier_form', btn_label: 'New Tier' %>
    <%= render 'admin/listings/listing_form', btn_label: 'New Listing' %>

    <hr />
    <h3>Tiers</h3>
    <span class="table-control"><%= link_to 'Manage Tiers', admin_auction_tiers_path(@auction) %></span>
    <%= render 'tiers_table' if @auction.tiers.present? %>
    <h3>Listings</h3>
    <%= render 'listings_table' if @auction.listings.present? %>
  </div>

</div>

<%# render 'admin/listings/edit_listing' %>